#powerLed {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
}

.powered-on {
  background-color: green !important;
}

.controls {
  position: fixed;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  z-index: 1000;
}

.control {
  display: flex;
}

#canvas {
  position: fixed;
  top: 0;
  left: 0;
  display: relative;
  width: 100%;
  height: 100%;
}
